---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import { getCollection } from 'astro:content'
import { sortBlogPostsByDate } from 'src/utils'

const allBlogPosts = await getCollection(
  'blog',
  ({ data }) => data.lang === 'en'
)
---

<Main
  title="Blog: News from injoi"
  description="Get the latest news from injoi."
>
  <Container size="small">
    <h1>News from injoi</h1>
    {
      sortBlogPostsByDate(allBlogPosts).map((post) => (
        <article>
          <a href={`/${post.id}/`}>
            <h2>{post.data.title}</h2>
          </a>
          <p>{post.data.description}</p>
        </article>
      ))
    }
  </Container>
</Main>

<style lang="scss">
  article {
    margin: 4em 0;
  }
</style>
