---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'
import ButtonLink from '@components/ButtonLink.astro'

const description =
  'Do you have a question about injoi, the digital menu? We are happy to help you.'
---

<Main title="Contact" description={description}>
  <Container>
    <h1>Contact</h1>
    <div class="columns">
      <div style="flex: 1">
        <h2>injoi</h2>
        <h3>Email Inquiries</h3>
        <a href="mailto:injoi@apptiva.ch">injoi@apptiva.ch</a>
        <h3>Inquiries</h3>
        <a href="tel:+41413222626">+41 41 322 26 26</a>
        <h3>Email Support</h3>
        <a href="mailto:injoi@apptiva.ch">injoi@apptiva.ch</a>
        <h3>Support</h3>
        <a href="tel:+41413222626">+41 41 322 26 26</a>
        <h3>Address</h3>
        <address>
          Apptiva AG<br />
          Obergrundstrasse 73<br />
          6003 Luzern<br />
          Schweiz
        </address>
      </div>
      <div style="flex: 1">
        <h2>Make an appointment</h2>
        <p>
          Do you have questions about injoi or our offer? Make an appointment in
          three clicks!
        </p>
        <!-- <ButtonLink href="/en/appointment/">Make appointment</ButtonLink> -->
      </div>
    </div>
  </Container>
</Main>
