<div class="announcement">
  <p>
    <slot />
  </p>
</div>

<style lang="scss">
  .announcement {
    font-size: 1em;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding-inline: 1rem;

    @media (min-width: 40rem) {
      padding-inline: 2rem;
    }
  }
</style>
