<div class="announcement">
  <div>
    <slot />
  </div>
</div>

<style lang="scss">
  .announcement {
    font-size: 1em;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding-inline: 1rem;

    @media (min-width: 40rem) {
      padding-inline: 2rem;
    }
    div {
      margin: 0 auto;
      width: 100%;
      max-width: 60rem;
      @media (min-width: 1024px) {
        padding-inline: 2rem;
      }
    }
  }
</style>
