---
import { getCollection } from 'astro:content'
import type { Language } from 'src/types'

export interface Props {
  language: Language
}

const sortedBlogs = await getCollection('blog')
---

<ul class="teaser">
  {
    sortedBlogs.map((post) => (
      <li>
        <a href={post.id}>{post.data.title}</a>
      </li>
    ))
  }
</ul>

<style>
  ul.teaser {
    margin: 1em 0 3em;
    padding-left: 1em;
  }

  .teaser li {
    font-weight: bold;
    margin-bottom: 0.8em;
  }

  ul.teaser li::marker {
    font-size: 1em;
  }
</style>
